@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*, ::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* primary */
    --Pale-blue: rgb(224, 232, 255);
    --Bright-blue: hsl(245, 75%, 52%);

    /* neutral */
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    --Very-pale-blue: hsl(225, 100%, 98%);

    --Font-size: 16px

}

body {
    font-family: 'Red Hat Display';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--Pale-blue);
}

.container {
    overflow: hidden;
}

.hero-img svg{
    border-radius: 2em 2em 0 0;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

.card {
    text-align: center;
    transform: scale(.9);
    border-radius: 2em 2em 2em 2em;
    background-color: var(--Very-pale-blue);
    box-shadow: rgba(120, 120, 246, 0.15) 0px 13px 27px -5px, rgba(116, 86, 249, 0.45) 0px 8px 16px -8px;

}

.title h1{
    font-size: 1.5em;
    font-weight: 800;
    padding: 2em 0 .75em 0;
    color: var(--Dark-blue);
}

.subtitle {
    font-size: var(--Font-size);
    padding: 0 0 3em 0;
    letter-spacing: .5px;
    line-height: 1.75em;
    color: var(--Desaturated-blue);
}

.flex-col span:first-child {
    font-weight: 700;
    color: var(--Dark-blue);
}

.flex-col span:last-child {
    color: var(--Desaturated-blue);
}

.change-plan {
    cursor: pointer;
    color: var(--Bright-blue);
    font-weight: 800;
    text-decoration: underline;
    transition: 300ms ease-in-out;
}

.change-plan:hover,
.change-plan:active {
    color: rgb(126, 115, 252);
    text-decoration: none;
}

.plan {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 2.5em;
    background-color: rgba(224, 232, 255, 0.493);
    border-radius: 1em;
}

.change-plan {
    padding-top: .5em;
    padding-left: 16em;
    position: absolute;
}

.music {
    line-height: 1.5em;
    position: relative;
    padding: 1em 0 1em 0;
    display: flex;
    flex-direction: row;
    margin-left: 1em;
}

.music svg {
    margin-right: 1em;
}

.interaction {
    display: flex;
    flex-direction: column;
    padding-top: 3.5em;
    padding-bottom: 2em;
    gap: 1em;
}

.interaction button:first-child {
    font: inherit;
    color: var(--Pale-blue);
    border: none;
    margin-bottom: 1em;
    outline: none;
    padding: 1em 0 1em 0;
    border-radius: 12px;
    font-weight: 800;
    margin-left: 2.65em;
    cursor: pointer;
    box-shadow: rgba(120, 120, 246, 0.45) 0px 13px 27px -5px, rgba(116, 86, 249, 1) 0px 8px 16px -8px;    background-color: var(--Bright-blue);
    width: 80%;
    transition: 200ms ease-in-out;
}

.interaction button:first-child:hover {
    background-color: rgb(126, 115, 252);
}

.interaction button:last-child {
    font: inherit;
    cursor: pointer;
    font-weight: 800;
    color: var(--Desaturated-blue);
    background: none;
    border: none;
    outline: none;
    padding-bottom: 2em;
    transition: 300ms ease-in-out;
}

.interaction button:last-child:hover {
    color: var(--Dark-blue);
}

@media (max-width: 600px) {
    .card {
        transform: scale(0.85);
    }

    .title {
        padding: 1em 0 .55em 0;
        font-size: 1.5em;
    }

    .subtitle {
        font-size: 1.25em;
        letter-spacing: normal;
    }

    .plan {
        width: 88%;
        margin-left: 1.75em;
    }

    .change-plan {
        padding-left: 13em;
    }

    .music {
        font-size: 1.25em;
        margin-left: 1em;
    }

    .interaction {
        font-size: 1.5em;
    }

    .interaction button:first-child {
        margin-left: 1.75em;
    }

    .interaction button:last-child {
        padding-bottom: 1em;
    }
}



 


